*{margin: 0;padding:0;box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}

body{font-family: 'Mulish', sans-serif;}

header{width: 100%;padding: 20px 0px;background-color: #000000 ;}

.header-container{max-width: 80%;margin:0 auto;display: flex;align-items: center;}

.header-container nav ul{display: flex;}

.header-container nav ul li a{color: #fff;;font-size: 12px;margin-left: 30px;font-weight:bold;text-transform: uppercase;}

.header-container nav ul li a:hover{padding-bottom: 10px;color: #FFBA10;transition: 1s;}

.mobile-menu ,  .menu{display: none;}

@media (max-width:750px){
    .header-container{max-width: 100%;flex-direction: column;padding: 10px 0;}
    
    .menu-flex{display: flex;align-items: center;justify-content: space-between;width: 80%;}

    .desk-menu{display: none;}

    .menu{display: flex;}

    .menu img{height: 20px;}

    .mobile-menu{
    width: 100%;background-color:#000000 ;}

    .mobile-menu ul{flex-direction: column;text-align: center;}

    .mobile-menu ul li{padding: 20px 0px;text-align: center;}
}

/*hero*/

.hero{color: #000000;display: flex;align-items: center;height: 80vh;
justify-content: space-between;margin: auto;background-image: url('../img/capa-hero.png');color:#fff;}
.hero-container{max-width: 90%;margin: 0px auto;text-align: left;display: flex;align-items: center;}
.hero-container h3:first-child{padding-bottom: 5px;}
.hero-container h2{font-size:30px;line-height: 40px;}
.hero-container h3{font-size: 22px;font-weight: 100;padding-bottom: 15px;padding-right: 80px;}


@media(max-width:850px){
    .desenho{display: none;}
    .hero-container .black-rede{margin-left: 100px;}
    .hero-container{max-width:80%;text-align: center;}
    .hero-container h2{font-size:28px;}
    .hero-container h3{padding-right: 0px;font-size:20px;}
}
/*servico*/

.servicos{width: 100%;margin: auto;text-align: center;padding-top: 80px;}

.servicos h3{font-size: 30px;color: #000000;padding-bottom: 50px;}

.servicos h3::after{content: 'BEM-VINDO AO MEU PORTFÓLIO';background-color: #FFBA10; width: 20px; height: 20px;}

.servicos-front h3::after{content: 'FRONT-END';background-color: #FFBA10; width: 20px; height: 20px;}

.servico h3::after{content: 'UX-UI DESIGNER';background-color: #FFBA10; width: 20px; height: 20px;}

.box{width: 80%;margin: 0 auto; background-color: #CECECE;display: flex; justify-content: space-between;padding: 40px 30px;margin-bottom: 50px;}
.box-container{width: 25%;padding: 0px 15px;}
.box-container img{padding-bottom: 10px;}
.box-container h4{padding-bottom: 5px;}
.servicos-container{max-width: 80%;padding-top: 20px;display: flex; justify-content: space-between;margin: auto;flex-wrap: wrap;}

.servicos-front{margin:0 auto;}
.retangulo-front{width: 100%;margin: 0 auto; background-color: #CECECE;display: flex; justify-content: space-between;padding: 40px 50px;margin-bottom: 50px;text-align: left;}
.git-text{max-width: 60%;}
.git-text h2{padding-bottom: 20px;}
.git-text p{font-weight: 700;margin-bottom: 20px;}
.git-text a{background-color:#000000; color: #fff;padding: 8px 25px;box-shadow: 0 0 0.5em rgb(46, 46, 46);border-radius: 5px;font-size: 14px;}
.git-text a:hover{color:#FFBA10;font-weight: 700; }

.retangulo{position: relative;
width: 230px;height: 350px;margin:2px;overflow: hidden;}

.retangulo .imgbox {
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;}

.retangulo .imgbox img{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}

.retangulo .content{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;}

.retangulo .content div{
    padding: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform:translateY(50px);
    transition: 0.2s;}

.retangulo:hover .content div{
    visibility: visible;
    opacity: 1;
    transform:  translateY(0px);}

.retangulo span{position: absolute;transform: translate(-50%,-50%);
display:block;width: 0px;height: 0px;border-radius: 50%;
opacity: 0.95;background: #000000;z-index: 1;transition:  width 0.5s, height 0.5s;}

.retangulo:hover span{width: 1000px;height: 1000px;}


@media (max-width:750px){
    .servicos h3{width: 80%;margin: 0 auto;}
    .box{flex-direction: column;}
    .box-container{width: 80%; margin: 0 auto;padding-bottom: 20px;}
    .servicos-front{padding: 10px 0px;}
    .retangulo-front{width: 80%; flex-direction: column;text-align: center;}
    .git-text{max-width: 100%;}
    .retangulo-front img{width: 100px;}
    .retangulo{width: 80%;margin: 0 auto;margin-bottom: 20px;}
}
/*sobre*/

.sobre{margin:50px 0px 50px 0px ;width:80%;margin: 0px  auto;margin-bottom: 50px;}

.sobre .container-sobre{display: flex;justify-content: space-between;align-items: center;}

.container-sobre img{ padding: 70px 60px;border-radius: 500px;margin-top: 50px;}

.sobre-text{margin-top: 100px;color: #fff;}

.sobre-text h2::after{content: 'Eu sou um criativo Web Designer e Desenvolvedor';background-color: #FFBA10; width: 20px; height: 20px;color: #000000 ;}

.sobre-text p{margin-top: 50px;margin-bottom: 40px;color: #28102D;font-size: 20px;}

.sobre-text a{background-color:#000000; color: #fff;padding: 8px 25px;box-shadow: 0 0 0.5em rgb(46, 46, 46);border-radius: 5px;}

.sobre-text a:hover{color:#FFBA10;font-weight: 700; }

@media(max-width:750px){
    .container-sobre{flex-direction: column;}
    .sobre-text{margin-top: 20px;text-align: center;}
    .sobre-img img{width: 100%;margin-top: 0px;}}


/*footer*/
.rodape{width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0 auto;}
    
    .endereco h4{width: 58px;
        border-bottom: 3px solid #FFBA10 ;}
    
    .divisao{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 10px;
        max-width: 1000px;}
    
    .divisao-interna{display: flex;}
    
    .redesocial h4{width: 112px;
        border-bottom: 3px solid #FFBA10;}
    
    .divisao-interna p{ padding-right: 20px;}
    
    .redesocial ul{display: flex;}
    
    .redesocial ul li a img{ padding-right: 10px;}

    .redesocial ul li a img:hover{transform: translateY(-10px);transition: 1s;}
    
    .rodape p{text-align: center;
       padding-bottom: 20px;
       font-size: 0.8em;}
    
    @media(max-width:700px){.divisao{flex-direction: column;}
       .endereco{margin: 0 auto;}
       .redesocial{margin: 0 auto;}}

/*animação*/

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
transform: translate3d(-50px,0,0);
}

[data-anime="right"]{
    transform: translate3d(50px,0,0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}