*{margin: 0;padding:0;box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}

body{background-color:#28102D ;font-family: 'Mulish', sans-serif;}

header{width: 100%;margin-top: 40px;}
header h1{color: #fff;}
.header-container{max-width: 80%;margin: auto;display: flex;justify-content: space-between;}
.header-container nav ul{display: flex;margin-top: 15px;}
.header-container nav ul li a{color:#fff;font-size: 18px;margin-left: 30px;font-weight:bold;}
.header-container nav ul li a:hover{padding-bottom: 10px;border-bottom: 2px  solid  #FFBA10;}

/*hero*/

.hero{color: #fff;max-width: 80%;display: flex;justify-content: space-between;margin: auto;}
.hero-container{max-width: 55%;margin: auto;margin-top: 150px;}
.hero-container h2{font-size:30px;line-height: 45px;}
.hero-container h3{font-size: 18px;font-weight: 100;color:#CECECE;}
.hero-img{margin-top: 100px;}

/*servico*/

.servicos{width: 100%;margin: auto;text-align: center;padding-top: 80px;}
.servicos h3{font-size: 30px;color: #28102D ;padding-bottom: 50px;}
.servicos h3::after{content: 'BEM-VINDO AO MEU PORTFÓLIO';background-color: #FFBA10; width: 20px; height: 20px;}

.box{width: 80%;margin: 0 auto; background-color: #CECECE;display: flex; justify-content: space-between;padding: 40px 30px;margin-bottom: 50px;}
.box-container{width: 25%;padding: 0px 15px;}
.box-container img{padding-bottom: 10px;}
.box-container h4{padding-bottom: 5px;}

.servicos-container{max-width: 80%;padding-top: 20px;display: flex; justify-content: space-between;margin: auto;flex-wrap: wrap;}

.retangulo{position: relative;
width: 250px;height: 380px;margin:5px;overflow: hidden;}

.retangulo .imgbox {
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;}

.retangulo .imgbox img{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}

.retangulo .content{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;}

.retangulo .content div{
    padding: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform:translateY(50px);
    transition: 0.2s;}

.retangulo:hover .content div{
    visibility: visible;
    opacity: 1;
    transform:  translateY(0px);}

.retangulo span{position: absolute;transform: translate(-50%,-50%);
display:block;width: 0px;height: 0px;border-radius: 50%;
opacity: 0.95;background: #9c27b0;z-index: 1;transition:  width 0.5s, height 0.5s;}

.retangulo:hover span{width: 1000px;height: 1000px;}

/*sobre*/

.sobre{margin:50px 0px 50px 0px ;width:80%;margin: 50px  auto;}

.sobre .container-sobre{display: flex;justify-content: space-between;}

.container-sobre img{ padding: 50px 60px;}

.sobre-text{margin-top: 100px;color: #fff;}

.sobre-text h2::after{content: 'Eu sou um criativo Web Designer e Desenvolvedor';background-color: #FFBA10; width: 20px; height: 20px;color: #28102D ;}

.sobre-text p{margin-top: 50px;margin-bottom: 40px;}

.sobre-text a{background-color:#9c27b0; color: #fff;padding: 8px 25px;margin-top: 50px;}

.sobre-text a:hover{background-color:#0d000f; transition: 2s; }

/*footer*/
.rodape{width: 100%;
    background-color: #000000 ;
    color: #fff;
    margin: 0 auto;}
    
    .endereco h4{width: 58px;
        border-bottom: 3px solid #FFBA10 ;}
    
    .divisao{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 10px;
        max-width: 1000px;}
    
    .divisao-interna{display: flex;}
    
    .redesocial h4{width: 102px;
        border-bottom: 3px solid #FFBA10;}
    
    .divisao-interna p{ padding-right: 20px;}
    
    .redesocial ul{display: flex;}
    
    .redesocial ul li a img{ padding-right: 10px;}
    
    .rodape p{text-align: center;
       padding-bottom: 20px;
       font-size: 0.8em;}
    
       @media(max-width:700px){.divisao{flex-direction: column;}
       .endereco{margin: 0 auto;}
       .redesocial{margin: 0 auto;}}